/* Basisstile */
.root {
    -fx-base: #f0f0f0;
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #1976d2;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.label {
    -fx-text-fill: #333;
}

.tab-pane {
    -fx-background-color: #e1e1e1;
}

.tab {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: #f9f9f9;
}

.table-row-cell {
    -fx-border-color: #d3d3d3;
    -fx-padding: 5px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
}

.header {
    -fx-background-color: #4caf50;
    -fx-text-fill: #ffffff;
}

/* Erweiterte Stile */
.tab-pane {
    -fx-background-color: #d6d6d6;
}

.tab {
    -fx-background-color: #ffffff;
    -fx-border-color: #c0c0c0;
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: #eeeeee;
}

.table-view {
    -fx-base: #eeeeee;
    -fx-control-inner-background: #eeeeee;
}

.table-row-cell {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #e2e2e2;
    -fx-table-cell-border-color: #d3d3d3;
    -fx-padding: 10px;
}

.button-bar {
    -fx-background-color: #4caf50;
}

.button {
    -fx-background-color: #1976d2; /* Blaue Hintergrundfarbe für Buttons */
    -fx-text-fill: white; /* Weiße Schrift für bessere Lesbarkeit */
    -fx-border-color: transparent; /* Keine Grenzen für eine modernere Optik */
}

.button:hover {
    -fx-background-color: #165a8f; /* Dunkleres Blau für Hover-Effekt */
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #bfbfbf;
}
